<!DOCTYPE>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Bagad Bro Kemperle</title>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <!--<script src="script.js"></script>-->
    </head>
    <body>
  
       	<nav class="menu">
				<ul>
					<li>
						<a href="#">Accueil</a>
					</li>
					<li>
						<a href="#">Actualités</a>
					</li>
					<li>
						<a href="#">Boutique</a>
					</li>
					<li>
						<a href="#">Contact</a>
					</li>
					<li><a href=""><i class="fa fa-user-circle-o fa-1.5x" aria-hidden="true"></i></a></li>
				</ul>
			</nav>
			<header>
				 <img src="../assets/img/bagad_header.jpg"alt=""/>  
			</header>
			