<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Bagad Bro Kemperle</title>
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/form_article_event.css">
    <link rel="stylesheet" href="../assets/css/form.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
	
<body>
	<header class="banniere">
       	<nav class="menu">
			<ul>
				<li>
					<a href="index.php">Accueil</a>
				</li>
				<li>
					<a href="index.php?page=event">Evénements</a>
				</li>
				<li>
					<a href="index.php?page=bureau">Page Bureau</a>
				</li>
				<li></li>
			</ul>
		</nav>
	</header>
			