<?php include('include/header.html'); ?>

	<main>
		<section class="title">
			<h1 id="article-title">article-title</h1>
		</section>
		<section class="article_detail">
			<p>Nom auteur</p>
			<p><time datetime="2015-05-16 19:00">16 Mai</time></p>
			<p>Et quoniam mirari posse quosdam peregrinos existimo haec lecturos forsitan, si contigerit, quamobrem cum oratio ad ea monstranda deflexerit quae Romae gererentur, nihil praeter seditiones narratur et tabernas et vilitates harum similis alias, summatim causas perstringam nusquam a veritate sponte propria digressurus.</p>
		</section>
	</main>

<?php include('include/footer.html'); ?>