
		<form class="form_perso" method="post" action="index.php?page=bureau&module=addEventBdd">
				<div class="element">
					<div id="eventTitle">
					<label for="eventName">Titre de l'évènement</label>
					<input type="text" name="eventName" id="" required/>
					</div>
					<div id="chooseType">
					<label for="eventType" id="eventType">Type</label>
					<select name="eventType" id="type">
								   <option value="1">Type1</option>
								   <option value="2">Type2</option>
					</select>
					</div>
				</div>
				<div class="element">
					<div id="date1">
						<label for="dateStart">Date début</label>
						<input type="date" name="dateStart" id="dateStart" />
					</div>
					<div id="date2" class="end">
					<label for="dateEnd">Date fin</label>
					<input type="date" name="dateEnd" id="dateEnd" />
					</div>
			
				</div>
				
				<div class="element">
					<div class="first">
					<label for="eventStatut" id="">Statut</label>
					<select name="eventStatut" id="">
									   <option value="0">Non validé</option>
									   <option value="1">Valide</option>
									</select>
									</div>
					<div class="end">
					<label for="eventPlace">Lieu de l'évènement </label>
					<input name="eventPlace" id="eventPlace" />
					</div>
				</div>
				<div class="element" id="price">
					<label for="eventPrice">Prix</label>
					<input name="eventPrice" id="eventPrice" />
				</div>
				
			<label for="eventContent">Contenu</label>
			<input type="text" name="eventContent" id="eventContent" class="contenu" required/>
			<p>Créer par :</p>
			<div class="btn_form">
				<input type="submit" id="btn-add" value="Ajouter"/>
				
			</div>
		</form>
