<?php if (isset($result)): ?>
		<form class="form_perso" method="post" action="">
				<div class="element">
					<div id="eventTitle">
					<label for="eventName">Titre de l'évènement</label>
					<input type="text" name="eventName" id="" value="<?php echo $result[0]->getName();?>" required />
					</div>
					<div id="chooseType">
					<label for="eventType" id="eventType">Type</label>
					<select name="eventType" id="type">
						<?php foreach ($listType as $type): ?>
						<option value="<?php echo $type->getId();?>"><?php echo $type->getLabel();?></option>
						<?php endforeach ?>
					</select>
					</div>
				</div>
				<div class="element">
					<div id="date1">
						<label for="dateStart">Date début</label>
						<input type="text" name="dateStart" id="dateStart" value="<?php echo $result[0]->getStartDate();?>"/>
					</div>
					<div id="date2" class="end">
					<label for="dateEnd">Date fin</label>
					<input type="text" name="dateEnd" id="dateEnd" value="<?php echo $result[0]->getEndDate();?>"/>
					</div>
			
				</div>
			
				<div class="element">
					<div class="end">
						<label for="eventPlace">Lieu de l'évènement </label>
						<input name="eventPlace" id="eventPlace" value="<?php echo $result[0]->getPlace();?>"/>
					</div>
				</div>
				<div class="element" id="price">
					<label for="eventPrice">Prix</label>
					<input name="eventPrice" id="eventPrice" value="<?php echo $result[0]->getFee();?>"/>
				</div>
				
			<label for="eventContent">Contenu</label>
			<input type="text" name="eventContent" id="eventContent" class="contenu" value="<?php echo $result[0]->getDescription();?>"required/>
			<p>Créer par :</p>
			<div class="btn_form">
				<input type="submit" name="submit" id="btn-add" value="Ajouter"/>
				
			</div>
		</form>
<?php else: ?>
<form class="form_perso" method="post" action="">
				<div class="element">
					<div id="eventTitle">
					<label for="eventName">Titre de l'évènement</label>
					<input type="text" name="eventName" id="" required />
					</div>
					<div id="chooseType">
					<label for="eventType" id="eventType">Type</label>
					<select name="eventType" id="type">
						<?php foreach ($listType as $type): ?>
						<option value="<?php echo $type->getId();?>"><?php echo $type->getLabel();?></option>
						<?php endforeach ?>
					</select>
					</div>
				</div>
				<div class="element">
					<div id="date1">
						<label for="dateStart">Date début</label>
						<input type="datetime-local" name="dateStart" id="dateStart" />
					</div>
					<div id="date2" class="end">
					<label for="dateEnd">Date fin</label>
					<input type="datetime-local" name="dateEnd" id="dateEnd" />
					</div>
			
				</div>
				
				<div class="element">
					<div class="end">
					<label for="eventPlace">Lieu de l'évènement </label>
					<input name="eventPlace" id="eventPlace" />
					</div>
				</div>
				<div class="element" id="price">
					<label for="eventPrice">Prix</label>
					<input name="eventPrice" id="eventPrice" />
				</div>
				
			<label for="eventContent">Contenu</label>
			<input type="text" name="eventContent" id="eventContent" class="contenu" required/>
			<p>Créer par :</p>
			<div class="btn_form">
				<input type="submit" name="submit" id="btn-add" value="Ajouter"/>
				
			</div>
		</form>
<?php endif ?>