<?php include('include/header.html'); ?>

	<main>
		<section class="title">
			<h1>Actualités</h1>
		</section>
		<section id="contain" class="article_container">
		<?php if(isset($result)): ?>
			<?php foreach ($result as $article): ?>
			<article class="article">
				<h2><?php echo $article->getTitle(); ?></h2>
				<h2><?php echo $article->getId(); ?></h2>
				<p><?php echo $article->getContent(); ?></p>
				<footer>
			        <p>
			          Posté le
			          <time datetime=""><?php echo $article->getCreationDate();?></time>
			          par <?php echo $article->getAuthor(); ?>.
			        </p>
	      		</footer>
				<a href="index.php?page=bureau&amp;module=delArticle&amp;id=<?php echo $article->getId();?>"><button>Supprimer</button></a>
				<a href="index.php?page=bureau&amp;module=upArticle&amp;id=<?php echo $article->getId();?>"><button>Modifier</button></a>
			</article>
			<?php endforeach ?>
		<?php else: ?>
			<h2>Aucune nouvelles actualités</h2>
		<?php endif ?>
		</section>
	</main>

<?php include('include/footer.html'); ?>