<?php include('include/header.html'); ?>

	<main>
		<section class="title">
			<h1>Prochains événements</h1>
		</section>
		<section id="contain" class="article_container">
			<article class="article">
				<h2>Bloupbambam</h2>
				<p>Et quoniam mirari posse quosdam peregrinos existimo haec lecturos forsitan, si contigerit, quamobrem cum oratio ad ea monstranda deflexerit quae Romae gererentur, nihil praeter seditiones narratur et tabernas et vilitates harum similis alias, summatim causas perstringam nusquam a veritate sponte propria digressurus.</p>
				<footer>
			        <p>
			          Posté le
			          <time datetime="2015-05-16 19:00">16 Mai</time>
			          par Lisa.
			        </p>
	      		</footer>
			</article>
			<article class="article">
				<h2>Bloupbambam 2</h2>
				<p>Et quoniam mirari posse quosdam peregrinos existimo haec lecturos forsitan, si contigerit, quamobrem cum oratio ad ea monstranda deflexerit quae Romae gererentur, nihil praeter seditiones narratur et tabernas et vilitates harum similis alias, summatim causas perstringam nusquam a veritate sponte propria digressurus.</p>
				<footer>
			        <p>
			          Posté le
			          <time datetime="2015-05-16 19:00">16 Mai</time>
			          par Mike.
			        </p>
	      		</footer>
			</article>
		</section>
	</main>

<?php include('include/footer.html'); ?>