<?php include('include/header.html'); ?>

	<main>
		<section class="title">
			<h1>Prochains événements</h1>
		</section>
		<section id="contain" class="article_container">
			<?php foreach ($result as $article): ?>
			<article class="article">
				<h2><?php echo $article->getTitle(); ?></h2>
				<p><?php echo $article->getContent(); ?></p>
				<footer>
			        <p>
			          Posté le
			          <time datetime="2015-05-16 19:00">16 Mai</time>
			          par <?php echo $article->getAuthor(); ?>.
			        </p>
	      		</footer>
			</article>
			<?php endforeach ?>
		</section>
	</main>

<?php include('include/footer.html'); ?>