<!Doctype>
<html lang="fr">

	<head>
		<link rel="stylesheet" href="../assets/css/form.css">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>


	<body>
		<main class="main_form">
		
			<h1>Se connecter</h1>

			<div id="profile">
			
				<div id="defaultimg"><i class="fa fa-user"></i></div>
			</div>
			<div id="resultat">
			</div>
			<form class="form_perso" method="post" action="">
				<input type="text" name="username" placeholder="identifiant" id="username" required />
				<input type="password" name="password" placeholder="mot de passe" id="password" required />
				<button class="btn_form" value="connection">Se connecter</button>
			</form>
		</main>
	</body>

</html>