<!Doctype>
<html lang="fr">

	<head>
		<link rel="stylesheet" href="../assets/css/seconnecter.css">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>


	<body>
		<main id="login">
		
			<h1>Se connecter</h1>

			<div id="profile">
			
				<div id="defaultimg"><i class="fa fa-user"></i></div>
			</div>
			<div id="resultat">
			</div>
			<form id="loginform" method="post" action="seconnecter.php">
				<input type="text" name="username" placeholder="identifiant" id="username" required />
				<input type="password" name="password" placeholder="mot de passe" id="password" required />
				<button class="btn" value="seconnecter">Se connecter</button>


			</form>
		</main>
	</body>

</html>