.contenu{
	width: 100%;
	height: 200px;
}
#btn-add{
	background-color: #419641;
	width: 100px;
	height: 3em;
	border-radius: 10px;
	color: white;
	font-weight: bold;
	
}
#btn-cancel{
	background-color: darkorange;
	width: 100px;
	height: 3em;
	border-radius: 10px;
	color: white;
	font-weight: bold;
}
.date{
	width: 100%;
	height: 100px;
	background-color: blue;
	
	
}

.element{
	/*background-color: purple;*/
	width:100%;
	display: flex;
	flex-direction: row;
	margin-bottom: 1em;
}

#eventTitle{
	/*background-color: aqua;*/
	width: 60%;
}

#chooseType{
	/*background-color:red;*/
	width: 40%;
	display: flex;
	justify-content: flex-end;
}
label{
	margin-right: 1em;
}

#date1{
	width: 50%;

	
}
#date2{
	width: 50%;
	
}

.end{
	display: flex;
	justify-content: flex-end;
}
#eventPlace{
		width: 50%;

}
.first{
	width: 45%;
}

.btn_form{
/*	background-color: aqua;*/
	margin: 0 auto;
	width: 50%;
	display: flex;
	justify-content: space-around;
}